$color:rgb(144, 181, 224);
$color1:orange;

h3, h2 {
    color:$color1;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5 {
    font-weight: bold;
}

h4 {
    color: $color;
    
    font-family: sans-serif;
  
}

